.tab-container {
    --tw-border-opacity: 1;
    border-color: rgb(46 56 64 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(22 25 28 / var(--tw-bg-opacity));
    border-top-style: double;
}

.Card-col {
    --tw-border-opacity: 1;
    border-color: rgb(46 56 64 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(22 25 28 / var(--tw-bg-opacity));
    height: 90%;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    /* isolation: isolate; */
    border-color: rgb(22 25 28 / var(--tw-bg-opacity));
    ;
}

.nav-link:focus-visible {
    outline: 0;
    box-shadow: rgb(22 25 28 / var(--tw-bg-opacity));
}

.nav-link:focus,
.nav-link:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.nav-link {
    --tw-text-opacity: 1;
    color: rgb(102 102 102 / var(--tw-text-opacity));
    position: relative;
}



.nav-link:focus::before {
    content: "";
    width: 100%;
    height: 50px;
    border-bottom: solid rgb(255, 153, 0);
    position: absolute;
    top: -11px;
    left: 0px;
}

.nav-link:focus-visible::before {
    content: "";
    width: 100%;
    height: 50px;
    border-bottom: solid rgb(255, 153, 0);
    position: absolute;
    top: -11px;
    left: 0px;
}

.tab-content {
    text-decoration: dashed;
}

.tab-link-span {
    color: red;
}

.Card-col-two {
    --tw-border-opacity: 1;
    border-color: rgb(46 56 64 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(22 25 28 / var(--tw-bg-opacity));
    height: 100%;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: white;
    background-color: transparent;
    border-color: transparent;
}