/* InfoBankStatutory.css */

.infobank-container {
   
background-color: rgb(246 246 246);
}

.heading h3 {
    --tw-text-opacity: 1;
    color: rgb(187 196 204 / var(--tw-text-opacity));
}

.form-select {
    --tw-bg-opacity: 1;
    background-color: rgb(46 52 57 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: #e0dada;
    --tw-text-opacity: 1;
    color: rgb(187 196 204 / var(--tw-text-opacity));
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cpath fill='rgb(187, 196, 204)' d='M0 0l5 5 5-5H0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1em;
}

.dropdown-toggle {
    --tw-bg-opacity: 1;
    background-color: rgb(46 52 57 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(46 56 64 / var(--tw-border-opacity));
    color: gray;
}

.form-select:focus,
.form-select:focus-visible {
    --tw-bg-opacity: 1;
    background-color: rgb(46 52 57 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: #e0dada;
    color: gray;
    outline: 0;
    box-shadow: 0 0 0 .25remrgb(46 52 57 / var(--tw-bg-opacity));

}

.label {
    --tw-text-opacity: 1;
    color: rgb(187 196 204 / var(--tw-text-opacity));

}

.form-control {
    --tw-bg-opacity: 1;
    background-color: rgb(46 52 57 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: #e0dada;
    --tw-text-opacity: 1;
    color: rgb(187 196 204 / var(--tw-text-opacity));
    appearance: none;

}

.form-control:focus,
.form-control:focus-visible {
    --tw-bg-opacity: 1;
    background-color: rgb(46 52 57 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: #e0dada;
    color: gray;
    outline: 0;
    box-shadow: 0 0 0 .25remrgb(46 52 57 / var(--tw-bg-opacity));

}

.form-control::placeholder {
    color: black;
}

.input-group-text {
   display: flex;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    --tw-text-opacity: 1;
    color: rgb(137 145 152);
    text-align: center;
    white-space: nowrap;
    --tw-bg-opacity: 1;
    background-color: #ededed;
    --tw-border-opacity: 1;
    border-color: #ededed;
    border-radius: var(--bs-border-radius);
}
.label-span {
    --tw-text-opacity: 1;
    color: rgb(142 142 142 / var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.underline {
    height: 5px;
}

.label-span-two {
    color: red;
}

.submit-btn {
    display: inline-block;
    min-width: 200px;
    border-radius: 50px;
    border-width: 1px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    line-height: 1.5;
    --tw-text-opacity: 1;
    background-color: orange;
}

.submit-btn:hover {
    background-color: rgb(255, 166, 0);
}