.AddEmployeePopUp-pop-up-input,
.AddEmployeePopUp-pop-up-input:focus-visible {
    height: 2.75rem;
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(227 227 227 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(227 227 227 / var(--tw-border-opacity));
    position: relative;
}

.AddEmployeePopUp-pop-up-input::placeholder {
    color: gray;
    font-size: medium;
}

#exampleModalLabel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popuplogo{
    width: 150px;
    height: 150px;
}

#profileImage{
    width: 150px;
    height: 150px;
}

.imageButtonMain{
    width: 150px;
    height: 150px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.imageEditButton{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    background-color: black;
    color: #ffffff;
    font-family: "Poppins";
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
    width: 80%;
}

.AddEmployeePopUp-icon {
    position: absolute;
    top: 32px;
    right: 20px;
    color: gray;

}
.img-fluidy {
    width: 100px;
    height: auto;
}