.Profile-haeding-text-rapo h3 {
   
    font-size: 26px;
}

.profile-section {
    padding: 30px;
    background-color:rgb(246 246 246);
}

.profile-txt a {
  
    cursor: pointer;
    text-decoration: none;
    font-size: larger;
}

.profile-txt p {
   color:#847c7c;


}

.Profile-haeding-text-rapo {
    font-size: 1rem;
    line-height: 1.5rem;
}