.admininfo-icon-txt-main-rapo {
    --tw-bg-opacity: 1;
    background-color: rgb(22 25 28 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(46 56 64 / var(--tw-border-opacity));
    --tw-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
    --tw-shadow-colored: 0 1px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-width: 1px;
    border-radius: 0.25rem;
}

.icon {
    display: flex;
    align-items: center;
}

.icon i {

    color: orange;
    background-color: rgba(255, 166, 0, 0.195);
    border-radius: 100%;
    padding: 17px;


}

.icon-cube {
    width: 30px;
    height: 30px;

}

.txt-rapo h3,
.txt-rapo p {
    color: rgb(187 196 204);
    font-weight: 700;
    margin: 0px;
}