 .center-align-item {
    margin-left: auto !important;   
 }
 .center-align-item .profile{ 
    margin: 0 10px;
 } 
 
 .layout {
   margin-left: 280px; 
   margin-top: 60px;
   background-color: red !important;
 }